.wrapper{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  height: 750px;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
}
.number{
  margin-top: -40px;
  /* box-sizing: border-box; */
  width: 100%;
}
.name{
  text-align: left;
  width:100%;
  max-height: 60px;
}
.status{
  color: #00CCCC;
  text-align: left;
}
.compound{
  text-align: left;
}
.items_list{
  list-style: none;
  padding: 0;
  margin: 0;

}
.item_box::-webkit-scrollbar{
  background-color: #2F2F37;
  width: 8px;
}
.item_box::-webkit-scrollbar-thumb{
  background-color: #8585AD;
}
.item_box{
  padding-right: 24px;
  height: 370px;
  overflow: auto;
  overflow-x: hidden;
}
.ingr_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_ingr_wrapper{
  display: flex;
  align-items: center;
}
.image_wrapper{
  background: linear-gradient(90deg,#801ab2,#4c4cff);
  border-radius: 100px;
  padding: 2px;
}
.image_wrapper_box{
  background: #131316;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  box-sizing: border-box;
  height: 64px;
  width: 64px;
}
.image{
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.price_wrapper{
  display: flex;
}
.total_wrapper{
  display: flex;
  justify-content: space-between;
}
.total_wrapper_box{
  display: flex;
}
